doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/pouchdb-1.1.0.min.js')
  body
    block content
    script(src='/javascripts/script.js')